<!DOCTYPE html>
<html>
<head>
    <title>MyNotes Registration</title>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
</head>
<body class="container">
<div class="span4 offset2" style="margin-top: 10%; width:570px;">
<form method="post" class="form-horizontal" name="register" action="/mynotes/register">{% csrf_token %}
        <fieldset>
            <div id="legend">
                <legend class="">Register</legend>
            </div>
            <div class="control-group">
                <!-- Username -->
                <label class="control-label"  for="username">Username</label>
                <div class="controls">
                    <input type="text" id="username" name="username" placeholder="username" required="required" class="input-xlarge" autocomplete="off">
                    <p class="help-block">Username can contain any letters or numbers, without spaces</p>
                    <p id="uservalidation" class="help-block" style="color: red; display: none">Username already used</p>
                </div>
            </div>

            <div class="control-group">
                <!-- E-mail -->
                <label class="control-label" for="email">E-mail</label>
                <div class="controls">
                    <input type="text" id="email" name="email" placeholder="" required="required" class="input-xlarge">
                    <p class="help-block">Please provide your E-mail</p>
                </div>
            </div>

            <div class="control-group">
                <!-- Password-->
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                    <input type="password" id="password" name="password" placeholder="password" min="6" required="required" class="input-xlarge">
                    <p class="help-block">Password should be at least 4 characters</p>
                </div>
            </div>

            <div class="control-group">
                <!-- Password -->
                <label class="control-label"  for="password_confirm">Password (Confirm)</label>
                <div class="controls">
                    <input type="password" id="password_confirm" name="password_confirm" placeholder="confirm password" min="6" required="required" class="input-xlarge">
                    <p class="help-block">Please confirm password</p>
                </div>
            </div>

            <div class="control-group">
                <!-- Button -->
                <div class="controls">
                    <button id="register"  class="btn btn-success" disabled="disabled" style="">Register</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<script>

    $("#username").keyup(function(){
        console.log("tata" + $(this).val());
        $.ajax({
            data: {'username': $(this).val()}, // get the form data
            type: 'POST', // GET or POST
            url: 'validateusername/', // the file to cal
            success: function (response) {
                // on success..
                //console.log('success: ' + response);
                var n = jQuery.parseJSON(response);


                if(n.data == "exist"){
                    $("#uservalidation").show();
                    console.log("answer: " + n.data);
                }
                else{
                    $("#uservalidation").hide();
                    console.log("answer1: " + n.data);
                }

            },
            error: function () {
                console.log('error');
                //alert('error');
            }
        });
    });

    $("#password_confirm").keyup(
        function(){
        console.log('conf: ' + $(this).val());
        console.log('pass: ' + $("#password").val());
        var pass = $("#password").val();
        if(pass == $(this).val()){
            $("#register").removeAttr("disabled");
        }
        else{
            $("#register").attr('disabled','disabled');
        }
    });

    $("#password").keyup(
            function(){
                console.log('conf: ' + $(this).val());
                console.log('pass: ' + $("#password_confirm").val());
                var pass = $("#password_confirm").val();
                if(pass == $(this).val()){
                    $("#register").removeAttr("disabled");
                }
                else{
                    $("#register").attr('disabled','disabled');
                }
            });
</script>
</body>
</html>
